#
# <copyright>
#  Copyright 2003 Cougaar Software, Inc.
#  under sponsorship of the Defense Advanced Research Projects Agency (DARPA).
#
#  This program is free software; you can redistribute it and/or modify
#  it under the terms of the Cougaar Open Source License as published by
#  DARPA on the Cougaar Open Source Website (www.cougaar.org).
#
#  THE COUGAAR SOFTWARE AND ANY DERIVATIVE SUPPLIED BY LICENSOR IS
#  PROVIDED 'AS IS' WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR
#  IMPLIED, INCLUDING (BUT NOT LIMITED TO) ALL IMPLIED WARRANTIES OF
#  MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE, AND WITHOUT
#  ANY WARRANTIES AS TO NON-INFRINGEMENT.  IN NO EVENT SHALL COPYRIGHT
#  HOLDER BE LIABLE FOR ANY DIRECT, SPECIAL, INDIRECT OR CONSEQUENTIAL
#  DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE OF DATA OR PROFITS,
#  TORTIOUS CONDUCT, ARISING OUT OF OR IN CONNECTION WITH THE USE OR
#  PERFORMANCE OF THE COUGAAR SOFTWARE.
# </copyright>
#

#
# Trouble lurks here... Sometimes you can commit this policy but it
#                       can lock guys out who still think that they
#                       need to encrypt.
# Don't be surprised if your policy fails to commit completely.
#

#
# Declarations Section
#

PolicyPrefix=%Allow/


#
# Message Passing Policies
#

Policy AllowCommunication = [ 
   GenericTemplate
   Priority = 2,
   $Actor.daml#Agent is authorized to perform
   $Action.daml#EncryptedCommunicationAction as long as
    the value of $Action.daml#hasDestination
    is a subset of the set $Actor.daml#Agent
]


#
# Blackboard policies
#

Policy AllowBlackboard = [ 
   GenericTemplate
   Priority = 2,
   $Ultralog/UltralogActor.daml#UltralogPlugins is authorized to perform
   $Ultralog/UltralogAction.daml#BlackBoardAccess as long as
    the value of $Ultralog/UltralogAction.daml#blackBoardAccessObject
    is a subset of the set
      $Ultralog/UltralogEntity.daml#BlackBoardObjects
]



#
# Servlet Policies
#

Policy AllowServlet = [ 
   GenericTemplate
   Priority = 2,
   $Actor.daml#Person is authorized to perform
   $Action.daml#AccessAction as long as
    the value of $Ultralog/UltralogAction.daml#accessedServlet
    is a subset of the set $Ultralog/UltralogEntity.daml#Servlet
]
