////////////////////////////////////////////////////////////
// COUGAAR JAVA POLICY FILE
// Copyright NAI LABS

////////////////////////////////////////////////////////////
// Standard extensions get all permissions by default

grant {
	permission java.security.AllPermission;
};
