driver.mysql=org.gjt.mm.mysql.Driver 
driver.oracle=oracle.jdbc.driver.OracleDriver 
driver.postgresql=org.postgresql.Driver 

# core database 
org.cougaar.database=jdbc:mysql://joshua/small135 
org.cougaar.database.user=ultralog
org.cougaar.database.password=ul-password 

# oplan database 
oplan.test.database=jdbc:mysql://joshua/small135 
oplan.test.database.user=ultralog 
oplan.test.database.password=ul-password 

# blackjack 
blackjack.database=jdbc:mysql://joshua/small135 
blackjack.database.user=ultralog 
blackjack.database.password=ul-password 

# blackjack8 
blackjack8.database=jdbc:mysql://joshua/small135 
blackjack8.database.user=ultralog 
blackjack8.database.password=ul-password 

# icis 
icis.database=jdbc:mysql://joshua/small135 
icis.database.user=ultralog 
icis.database.password=ul-password 

# generic database expander 
generic.database.expander.database=jdbc:mysql://joshua/small135 
generic.database.expander.user=ultralog 
generic.database.expander.password=ul-password 
generic.database.expander.expansion_table=construction_expansion 

# configuration database 
org.cougaar.configuration.database=jdbc:mysql://joshua/small135
org.cougaar.configuration.user=ultralog
org.cougaar.configuration.password=ul-password

# datagrabber database configuration
# On the next line, DATAGRABBER_DBNAME is typically "Grabber" but can be anything you like.
org.cougaar.domain.mlm.ui.grabber.config.DBConfig.connectionURL=jdbc:mysql://joshua/small135
org.cougaar.domain.mlm.ui.grabber.config.DBConfig.user=ultralog
org.cougaar.domain.mlm.ui.grabber.config.DBConfig.password=ul-password
org.cougaar.domain.mlm.ui.grabber.config.DBConfig.syntax=MySQL
