This README file explains how to configure the security services. Either CSMART or
.INI configuration files may be used to configure the security services.


Node configuration
==================
Every node must have the following components:
* KAoS guard.
  This component registers itself to the policy domain manager, and receives the policy
  for all the security policy enforcers

* Security component factory
  This component is responsible for initializing and registering the security services
  in the node agent.

* JAAS agent binder


Sample INI configuration
------------------------
Node.AgentManager.Agent.SecurityComponent(HIGH)=safe.util.SAFESecurityComponent
Node.AgentManager.Agent.SecurityComponent(HIGH)=org.cougaar.core.security.provider.SecurityComponentFactory(Enclave-2)
Node.AgentManager.Binder = org.cougaar.core.security.access.JaasAgentBinderFactory


Agent configuration
===================

Sample INI configuration
------------------------

Society Manager
===============

Sample INI configuration
------------------------

Enclave Manager
===============

Sample INI configuration
------------------------


Certificate Authortity
======================
